* {
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    width: 100vw;
}

.container-left {
    display: inline-block;
    width: 60%;
    margin-top: 20%;
    padding-left: 136px;
}

.container-right {
    display: inline-block;
    width: 40%;
    height: 100vh;
    position: absolute;
    background-color: rgba(93, 93, 125, 0.16);
}

.logo-image {
    position: relative;
    top: 5%;
    right: 130px;
}

h1 {
    width: 368px;
    color: #5D5D7D;
    font-size: 70px;
    font-weight: 400;
    line-height: 80px;
    margin-bottom: 10px;
}

p {
    width: 802px;
    color: #5D5D7D;
    font-size: 28px;
    font-weight: 400;
    line-height: 48px;
    opacity: 0.6;
    margin-bottom: 10px;
}

button {
    width: 269px;
    height: 62px;
    flex-shrink: 0;
    background: #9499EA;
    filter: drop-shadow(0px 10px 24px rgba(148, 153, 234, 0.10));
    border-radius: 30px;
    border: none;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400px;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.4;
}

.link-menu {
    color: #5D5D7D;
    font-size: 28px;
    font-weight: 400;
    cursor: pointer;
    padding-left: 41px;
}

a:nth-child(2) {
    opacity: 0.4;
}

.link-menu:hover {
    opacity: 0.6;
}

.link-menu:active {
    color: black;
}

